@font-face {
	font-family: 'icomoon';
	src:url('../../font/icomoon.eot');
	src:url('../../font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../font/icomoon.woff') format('woff'),
		url('../../font/icomoon.ttf') format('truetype'),
		url('../../font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/*[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}*/

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/*.icon-angle-left, .icon-angle-right, .icon-angle-up, .icon-angle-down, .icon-twitter, .icon-heart, .icon-envelop, .icon-tag, .icon-star, .icon-star-2, .icon-star-3, .icon-facebook, .icon-feed, .icon-close, .icon-checkmark, .icon-menu, .icon-plus, .icon-minus, .icon-instagram, .icon-google-plus, .icon-pinterest, .icon-search, .icon-skype, .icon-dribbble, .icon-users, .icon-certificate, .icon-expand, .icon-linkedin, .icon-map-pin-fill, .icon-pen-alt-fill, .icon-youtube, .icon-flickr, .icon-clock {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}*/

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-twitter:before {
	content: "\e001";
}
.icon-heart:before {
	content: "\e000";
}
.icon-envelop:before {
	content: "\e003";
}
.icon-tag:before {
	content: "\e004";
}
.icon-star:before {
	content: "\e005";
}
.icon-star-2:before {
	content: "\e006";
}
.icon-star-3:before {
	content: "\e007";
}
.icon-facebook:before {
	content: "\e002";
}
.icon-feed:before {
	content: "\e008";
}
.icon-close:before {
	content: "\61";
}
.icon-checkmark:before {
	content: "\e00a";
}
.icon-menu:before {
	content: "\e00b";
}
.icon-plus:before {
	content: "\e00c";
}
.icon-minus:before {
	content: "\e00d";
}
.icon-instagram:before {
	content: "\e00e";
}
.icon-google-plus:before {
	content: "\e00f";
}
.icon-pinterest:before {
	content: "\e010";
}
.icon-search:before {
	content: "\e012";
}
.icon-skype:before {
	content: "\e011";
}
.icon-dribbble:before {
	content: "\e013";
}
.icon-users:before {
	content: "\e014";
}
.icon-certificate:before {
	content: "\f0a3";
}
.icon-expand:before {
	content: "\e015";
}
.icon-linkedin:before {
	content: "\e016";
}
.icon-map-pin-fill:before {
	content: "\e009";
}
.icon-pen-alt-fill:before {
	content: "\e017";
}
.icon-youtube:before {
	content: "\e018";
}
.icon-flickr:before {
	content: "\e019";
}
.icon-clock:before {
	content: "\e01a";
}
