/* http://nicolasgallagher.com/micro-clearfix-hack */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: "";
}
.minimal {
  /*margin: 24px 0;*/
}
.minimal:focus {
  outline: none;
}
.minimal.accordion > section {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 24px;
}
.minimal.accordion > section > * {
  max-width: 100%;
}
.minimal.accordion > section > :first-child {
  margin-top: 0;
}
.js .minimal.accordion > section {
  padding: 0;
}
.js .minimal.accordion > section > :first-child {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 12px 24px;
}
.js .minimal.accordion > section > :first-child + * > * {
  padding: 24px;
}
.js .minimal.accordion > section > :first-child + * > * > * {
  max-width: 100%;
}
.js .minimal.accordion > section > :first-child + * > * > :first-child {
  margin-top: 0;
}
.js .minimal.accordion > section > :first-child + * > * > :last-child {
  margin-bottom: 0;
}
.minimal.accordion > section > :last-child {
  margin-bottom: 0;
}
.minimal.accordion > section + section {
  margin-top: -1px;
}
.js .minimal.tabs.hide-title > section > :first-child + * {
  margin-top: 0;
}
.minimal.tabs > section {
  background-color: #ffffff;
  /*border: 1px solid #dddddd;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 24px;
}
.minimal.tabs > section > * {
  max-width: 100%;
}
.minimal.tabs > section > :first-child {
  margin-top: 0;
}
.js .minimal.tabs > section > * > * {
  margin-top: 0;
}
.js .minimal.tabs > section > * > * > * {
  max-width: 100%;
}
.js .minimal.tabs > section > * > * > :first-child {
  margin-top: 0;
}
.js .minimal.tabs > section > * > * > :last-child {
  margin-bottom: 0;
}
.minimal.tabs > section > :last-child {
  margin-bottom: 0;
}
.minimal.tabs > section + section {
  margin-top: -1px;
}
.js .minimal.tabs > section + section {
  margin-top: 0;
}
.minimal.tabs > ul {
  zoom: 1;
  /*display: table;*/
  list-style: none;
  margin: 0 0 -1px 0;
  padding: 0;
  background-color: #ECF0F1;
}
.minimal.tabs > ul:after {
  clear: both;
}
.minimal.tabs > ul:after,
.minimal.tabs > ul:before {
  display: table;
  content: "";
}
.minimal.tabs > ul > li {
  /*background-color: #ffffff;*/
  border-top: 2px solid transparent;
  float: left;
  padding: 12px 20px;
  margin: 0;
  font-size: 16px;
}
.minimal.tabs > ul > li.current {
  /*border-bottom-color: #ffffff;*/
  background-color: #ffffff;
  border-color: #00B7F1;
  pointer-events: none;
  color: #00B7F1
}
.minimal.tabs > ul > li + li {
  border-left: none;
}
